<!DOCTYPE html>
<html>
    <head>
        <title>Price Tracker</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div id="main-content">
            <p id="intro-text">Track Amazon product prices daily!</p>

            <form>
                <input placeholder="abc@pqr.com" name="email" id="email" type="email" autocomplete="off" autofocus required>
                <input placeholder="Product URL" name="product-url" id="product-url" type="url" required><br>
                <button id="subscribe-btn">Subscribe!</button>
                <p id="message-one"></p>
            </form>
        </div>
        <script src="/js/clientApp.js"></script>
        <footer>
            <span>
                @2021 | 
                <a href="mailto:bhandare.shreyas2@gmail.com">Support</a>
            </span>
        </footer>
    </body>
</html>