<!DOCTYPE html>
<html>
    <head>
        <title>Unsubscribe</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div id="main-content">
            <h3>{{ message }}</h3>
            <div id="resubscribe-link"><a href="./">Resubscribe!</a></div>
        </div>
        <footer>
            <span>
                @2021 | 
                <a href="mailto:amznpricetrack@gmail.com">Support</a>
            </span>
        </footer>
    </body>
</html>