@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: url('../images/low_poly_banner_design_2203.jpg') no-repeat center center/cover;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.btn {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.container {
    padding: 10px;
}

.l-heading {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
    color: #333;
}

#main-content #subscription-form {
    max-width: 400px;
}

#main-content #subscription-form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    color: #333;
}

#main-content #subscription-form input:focus {
    border: none;
}

#main-content #subscription-form label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    color: #333;
}

#main-content #subscription-form #subscribe-btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    background: #333;
    color: #fff;
}

#main-content #subscription-form #subscribe-btn:hover {
    background: lightslategrey;
    color: #fff;
}

#response-message {
    margin-top: 20px;
    text-align: center;
    max-width: 400px;
}

#footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

#footer p {
    font-size: 0.8rem;
    text-align: center;
}

.unsubscribe-content .unsubscribe-text {
    margin-bottom: 50px;
    text-align: center;
    max-width: 400px;
    font-size: 0.8rem;
}

.unsubscribe-content a {
    background-color: #333;
    padding: 10px;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-weight: normal;
    font-size: 0.8rem;
}

.unsubscribe-content .container {
    text-align: center;
}